<h2>{{ book.name }}</h2>
<h5>{{ book.review_set.count }} reviews ({{ book.average_rating | floatformat }} average rating)</h5>


<h3>Recent reviews</h3>

{% if book.review_set.all %}
<div>
    {% for review in book.review_set.all %}
    <div>
        <em>{{ review.comment }}</em>
        <h6>Rated {{ review.rating }} of 5 by {{ review.user_name }}</h6>
        <h5><a href="{% url 'bookfinder:review_detail' review.id %}">
        Read more
        </a></h5>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews for this book yet</p>
{% endif %}

<h3>Add your review</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'bookfinder:add_review' book.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add" />
</form>
